index.pug
doctype
head
    title Тест with Sass & Pug
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="Sass/output.css" type="text/css")
body
    .wrapper
        header.header
            span.block-name header
        .position
            div.group
                .group__row
                    .layer
                        .element.element--bg-light-blue
                            span.element__text-desc Наши сотрудники
                        .element.element--bg-light-blue
                            span.element__text-desc Просветляет понимающий текст
                    .element.element--bg-light-blue
                        span.element__text-desc Конформизм
                .group__row--direction
                    .element.element--bg-blue.element--width-half
                        span.element__text-desc Интроекция
                    .element.element--bg-yellow.element--width-half
                        span.element__text-desc Наши сотрудники

            div.group.group--replace
                .group__row--height
                    .box
                        .box__child.box__child--font-size
                            span  Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. 
                                | Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.
                    
                .group__row--one-direction
                    .element.element--top.element--bg-dark-gray
                        .box
                            .box__child.box__child--position
                                span.element__text-desc Чувство однократно
                    .element.element--height-auto.element--bg-dark-gray
                        .box
                            .box__child.box__child--position
                                span.element__text-desc Морено

            div.group.group--invisible
                .group__row--one-direction
                    .element.element--top.element--bg-light-green
                        .box
                            .box__child.box__child--position
                                span.element__text-desc Понятие модернизации понимает механизм власти
                    div.wrapper-img
                        .box
                            .box__child
                                .hover-img
                                        .hover-mark !
                                svg(class="blur-ie" width="100%" height="100%" viewbox="0 0 241 241" preserveAspectRatio="xMidYMid slice")
                                    defs
                                        filter#blur
                                            feGaussianBlur(stdDeviation="5")
                                    image(xlink:href="image.jpg" width="100%" height="100%" filter="url(#blur)")
                                svg(class="blur-ie--text" width="110px" height="20px" viewbox="0 0 110 20" preserveAspectRatio="none")
                                    defs
                                        filter#blur--text
                                            feGaussianBlur(stdDeviation="3")
                                    image(xlink:href="Text.png" width="110" height="20" filter="url(#blur--text)")
                                .element.element--include-img
                                    span.element__text-desc Наши сотрудники
                
                .group__row--height.row--bg-light-green
                    .box
                        .box__child
                            .inline.inline--first
                                span.text.inline__text.text--col-left Фамилия
                                span.text.inline__text.inline__text--empty
                                span.text.inline__text.text--col-right Мамай
                            .inline.inline--view-col
                                .inline--short
                                    span.text.inline__text Станиславаленина
                                div
                                    span.text.inline__text.text--col-left Имя&nbsp;и&nbsp;отчество
                                    span.text.inline__text.inline__text--empty
                                    span.text.inline__text.text--col-right Владимировна
                            .inline.inline--view-col
                                div
                                    span.text.inline__text.text--single-long Номер полиса выдан заведомо
                                div
                                    span.text.inline__text.text--col-left ложный
                                    span.text.inline__text.inline__text--empty
                                    span.text.inline__text.text--col-right 01354879
                            .inline
                                span.text.inline__text.text--col-left Дата&nbsp;рождения
                                span.text.inline__text.inline__text--empty
                                span.text.inline__text.text--col-right 01.12.1976
                            .inline
                                span.text.inline__text.text--col-left Телефон
                                span.text.inline__text.inline__text--empty
                                span.text.inline__text.text--col-right +79254218069

            
            div.group
                .group__row.group__row--reverse
                    .layer
                        .element.element--bg-light-red
                            span.element__text-desc Точка перегиба
                        .element.element--bg-purple
                            span.element__text-desc Длина вектора
                    .element.element--bg-light-red
                        span.element__text-desc Однако
                .group__row--direction.group__row--direction-other
                    .element.element--bg-light-red.element--width-half
                        span.element__text-desc Лидерство
                    .element.element--bg-red.element--width-half
                        span.element__text-desc Невероятный гений
        footer.footer
            span.block-name footer

index.html
<!DOCTYPE html>
<head>
  <title>Тест with Sass & Pug</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="Sass/output.css" type="text/css">
</head>
<body>
  <div class="wrapper">
    <header class="header"><span class="block-name">header</span></header>
    <div class="position">
      <div class="group">
        <div class="group__row">
          <div class="layer">
            <div class="element element--bg-light-blue"><span class="element__text-desc">Наши сотрудники</span></div>
            <div class="element element--bg-light-blue"><span class="element__text-desc">Просветляет понимающий текст</span></div>
          </div>
          <div class="element element--bg-light-blue"><span class="element__text-desc">Конформизм</span></div>
        </div>
        <div class="group__row--direction">
          <div class="element element--bg-blue element--width-half"><span class="element__text-desc">Интроекция</span></div>
          <div class="element element--bg-yellow element--width-half"><span class="element__text-desc">Наши сотрудники</span></div>
        </div>
      </div>
      <div class="group group--replace">
        <div class="group__row--height">
          <div class="box">
            <div class="box__child box__child--font-size"><span>
                 Гений непредвзято понимает под собой конфликт. Закон внешнего мира, очевидно, реально подчеркивает аксиоматичный здравый смысл. Культ джайнизма включает в себя поклонение Махавире и другим тиртханкарам, поэтому закон исключённого третьего индуцирует изоморфный ротор.</span></div>
          </div>
        </div>
        <div class="group__row--one-direction">
          <div class="element element--top element--bg-dark-gray">
            <div class="box">
              <div class="box__child box__child--position"><span class="element__text-desc">Чувство однократно</span></div>
            </div>
          </div>
          <div class="element element--height-auto element--bg-dark-gray">
            <div class="box">
              <div class="box__child box__child--position"><span class="element__text-desc">Морено</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="group group--invisible">
        <div class="group__row--one-direction">
          <div class="element element--top element--bg-light-green">
            <div class="box">
              <div class="box__child box__child--position"><span class="element__text-desc">Понятие модернизации понимает механизм власти</span></div>
            </div>
          </div>
          <div class="wrapper-img">
            <div class="box">
              <div class="box__child">
                <div class="hover-img">
                  <div class="hover-mark">!</div>
                </div>
                <svg class="blur-ie" width="100%" height="100%" viewbox="0 0 241 241" preserveAspectRatio="xMidYMid slice">
                  <defs>
                    <filter id="blur">
                      <feGaussianBlur stdDeviation="5"></feGaussianBlur>
                    </filter>
                  </defs>
                  <image xlink:href="image.jpg" width="100%" height="100%" filter="url(#blur)"></image>
                </svg>
                <svg class="blur-ie--text" width="110px" height="20px" viewbox="0 0 110 20" preserveAspectRatio="none">
                  <defs>
                    <filter id="blur--text">
                      <feGaussianBlur stdDeviation="3"></feGaussianBlur>
                    </filter>
                  </defs>
                  <image xlink:href="Text.png" width="110" height="20" filter="url(#blur--text)"></image>
                </svg>
                <div class="element element--include-img"><span class="element__text-desc">Наши сотрудники</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="group__row--height row--bg-light-green">
          <div class="box">
            <div class="box__child">
              <div class="inline inline--first"><span class="text inline__text text--col-left">Фамилия</span><span class="text inline__text inline__text--empty"></span><span class="text inline__text text--col-right">Мамай</span></div>
              <div class="inline inline--view-col">
                <div class="inline--short"><span class="text inline__text">Станиславаленина</span></div>
                <div><span class="text inline__text text--col-left">Имя&nbsp;и&nbsp;отчество</span><span class="text inline__text inline__text--empty"></span><span class="text inline__text text--col-right">Владимировна</span></div>
              </div>
              <div class="inline inline--view-col">
                <div><span class="text inline__text text--single-long">Номер полиса выдан заведомо</span></div>
                <div><span class="text inline__text text--col-left">ложный</span><span class="text inline__text inline__text--empty"></span><span class="text inline__text text--col-right">01354879</span></div>
              </div>
              <div class="inline"><span class="text inline__text text--col-left">Дата&nbsp;рождения</span><span class="text inline__text inline__text--empty"></span><span class="text inline__text text--col-right">01.12.1976</span></div>
              <div class="inline"><span class="text inline__text text--col-left">Телефон</span><span class="text inline__text inline__text--empty"></span><span class="text inline__text text--col-right">+79254218069</span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="group">
        <div class="group__row group__row--reverse">
          <div class="layer">
            <div class="element element--bg-light-red"><span class="element__text-desc">Точка перегиба</span></div>
            <div class="element element--bg-purple"><span class="element__text-desc">Длина вектора</span></div>
          </div>
          <div class="element element--bg-light-red"><span class="element__text-desc">Однако</span></div>
        </div>
        <div class="group__row--direction group__row--direction-other">
          <div class="element element--bg-light-red element--width-half"><span class="element__text-desc">Лидерство</span></div>
          <div class="element element--bg-red element--width-half"><span class="element__text-desc">Невероятный гений</span></div>
        </div>
      </div>
    </div>
    <footer class="footer"><span class="block-name">footer</span></footer>
  </div>
</body>
